.nav-menu {
    background-color: #fafafa;
    position: fixed;
    height: 100vh;
    width: 220px;
    transition: all 200ms linear;
    div{
        padding-left: 14px;
        display: flex;
        flex-direction: column;
        gap: 1%;
            p{
                font-size: 14px;
                margin-left: 5px;
            }
            .minoan-logo {
                padding-top: 30px;
                width: 106px;
                height: 56px;
                margin-left: 7px;
                content: url('../../assets/MinoanLogo.jpg');
            }
            
    }
    nav{
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            li.nav-item{
                padding: 10px 0 10px 20px;
                cursor: pointer;
                text-decoration: none;
                color: #403d52;
                display: flex;
                justify-content: start;
                align-items: center;
                font-size: 14px;
                &:active{
                    background-color: #ffff;
                    color: #ae864a;
                }
                a{
                    padding: 10px 0 10px 10px;
                    cursor: pointer;
                    text-decoration: none;
                    color: #403d52;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    font-size: 14px;
                    i{
                        display: block;
                    }
                    span{
                        padding-left: 10px;
                        display: block;
                    }
                }
                
            }
        }
        
    }
}

.nav-menu-collapse {
    padding-right: 0;
    max-width: 75px;
    height: 100vh;
    background-color: #fafafa;
    position: fixed;
    div{
        padding-left: 5px;
        padding-right: 5px;
        display: flex;
        flex-direction: column;
        gap: 1%;
            p{
                font-size: 14px;
                margin-left: 0px;
            }
            .minoan-logo-small {
                padding-top: 30px;
                width: 28px;
                height: 56px;
                margin-left: 7px;
                content: url('../../assets/MinoanLogoSmall.jpg');
            }
            .hamburger{
                text-align: center;
            }
    }
    nav{
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            li.nav-item-collapse{
                padding: 10px 0 10px 20px;
                cursor: pointer;
                text-decoration: none;
                color: #403d52;
                display: flex;
                justify-content: start;
                align-items: center;
                font-size: 14px;
                &:active{
                    background-color: #ffff;
                    color: #ae864a;
                }
                a{
                    padding: 10px 0 10px 0;
                    cursor: pointer;
                    text-decoration: none;
                    color: #403d52;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    font-size: 14px;
                    i{
                        display: block;
                    }
                    span{
                        display: none;
                    }
                }
                
            }
        }
        
    }
}


.hamburger {
    padding-top: 24px;
    padding-bottom: 20px;
    // width: 24px;
    height: 68px;
    cursor: pointer;
    padding-left: 30px;
    
}
