<div class="spacer">
    <div class="row">
        <h1>Minoan Website</h1>
    </div>
    <div class="row mb-2">
        <div class="col-2">
            <p>Spaces</p>    
        </div>
        <div class="col-2">
            <p>Brands</p>    
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-3">
            <input type="text" placeholder="Search">
        </div>
        <div class="col-3">
            <button>Delete</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            X Spaces Found
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Property Name</th>
                    <th>Company Name</th>
                    <th>Logo</th>
                    <th>Description</th>
                    <th>Images</th>
                    <th>Added On</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Property Name</td>
                    <td>Company Name</td>
                    <td>Logo</td>
                    <td>Description</td>
                    <td>Images</td>
                    <td>Added On</td>
                    <td>Action</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>